# Project exclude paths
/.gradle/
/Recipes/task/build/
/Recipes/task/out/
/Recipes/task/out/production/classes/
/Topics/Iterating over arrays/Boxes/out/
/Topics/Iterating over arrays/Boxes/out/production/classes/